{%extends "base.html" %}
<!-- Include the html files where this CSS file is going to be used -->
<!-- title is the name of the block -->
{% block title%}
HOME PAGE
{% endblock %}
<!-- Blocks can be substituted inside the base html file -->
{% block content%}
<h1>USEFUL ELECTRONICS </h1>
<!--<h1 style="background-color: #0BF4F6;"> USEFUL ELECTRONICS</h1>-->
{% endblock %}

{% block test%}
<style>
h1 {color:blue}
p {color:rgb(255, 0, 0)}
</style>
<h1> who is this</h1>
<h2> hello</h2>
<p> paragraph</p>
{% endblock %}

{% block data%}
<form action="#" method="POST">
    <p>Enter value</p>
    <p><input type="text" name="obtained" /></p>
    <!-- <p><input type="submit" name="submit" /></p> -->
</form>
{% endblock %}

{% block display%}
    <p>value: {{value}}</p>
{% endblock %}